<div class="news1">
    <h2 id="teaching_pos">Teaching</h2>
    <div>
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm-2"><b><font size="3">Autumn 2022<br>Autumn 2021<br>Autumn 2020</font></b></div>
                <div class="col-sm-8">
                  <div><b>Teaching Assistant</b> at Tsinghua University<br>
                    Data Mining: Principles and Algorithms (Graduate course)</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm-2"><b><font size="3">Autumn 2019</font></b></div>
                <div class="col-sm-8">
                    <div><b>Guest Lecturer</b> at Tsinghua University<br>
                        Data Mining: Principles and Algorithms (Graduate course)</div>
                </div>
              </div>
            </td>
          </tr>
      </tbody></table>
    </div>
  </div>